$negro: black;
$blanco: white;
$color1: #7196B9;

div ul li{
    font-family:'Kanut', sans-serif;
    font-weight: 500;
    padding-left: 1.5vw;
}

.bg-light{
    --bs-bg-opacity: 0;
}

.navbar{
    padding: 0;
}

.nav-contenedor{
    background-color: $negro;
}

.navbar-toggler{
    background-color: $negro;
}

.custom-toggler .navbar-toggler {
    border-color: $negro;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar .navbar-brand{
    color: $blanco;
    padding-right: 55vw;
    font-size: 1.5rem;
    font-weight: 200;
}

.navbar .navbar-brand:hover{
    color: $color1;
}

.redes{
    height: 1.2em;
    width: 1.2em;
    margin: 0.5rem;
}

.navbar-light .navbar-nav .nav-link {
    color: $blanco ;
    padding: 1vw;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: $color1;
}

.actual{
    font-weight: 600;
    color: $color1 !important;
    
}


footer{
    padding-top: 3vw;
    margin-top: 10vw;
    background-color: black;
}

.footer-logo{
    height:23vw;
    padding-left: 6vw;
}

footer a h4{
    color: $blanco;
    text-decoration:none;
}

footer a h4:hover{
    color: $color1;
    text-decoration: underline;

}

footer a{
    color: $blanco;
    text-decoration:none;
    padding-bottom: 1vw;
}

footer a:hover{
    color: $color1;
}

.footer-redes{
    padding-top: 2vw;
}
.footer-redesTxt{
    padding-left: 1vw;
}

.copyright{
    padding-top: 3vw;
    color: gray;
}

.dilo{
    color: $color1;
}






@media screen and (max-width:576px){
.navbar .navbar-brand{
    padding-right: 0vw;
}

.footer-logo{
    margin: 5vw 0 3vw 0;
    height: 25vw;
}

footer a h4{
    padding-top: 6vw;
    text-align: center;
}

footer a{
    padding-bottom: 2vw;
    text-align: center;
}

.footer-redes-cont{
    padding-left: 30vw;
}

.footer-redesTxt{
    padding-left: 3vw;

}

.copyright{
    padding-top: 9vw;
    font-size: 3vw;
}
.dilo{
    font-size: 3vw;
}
}