$negro: black;
$blanco: white;
$color1: #7196B9;


/* REPRESENTANTE */
.historia-cont{
    flex-wrap: nowrap;
}

.historia-img{
    margin-bottom: 5vw;
    background-color: $color1;
}

.historia{
    font-weight: 500;
    font-size: 1.2vw;
    width: 100%;
    padding: 3vw 6vw 0vw 6vw;
    margin: 0;
}


.concursos-container{
    margin-top: 5vw;
}


/* PARTICIPACION EN CONCURSOS Y SIMPOSIOS */
.grids3{
    display: grid;
    grid-template-columns: 6vw 30vw;
    padding: 0;
}

.grids3 h3{
    text-align: center;
    padding-top: 1vw;
}

.grids3 p{
    padding: 1vw 0 0 1vw;
}

.conc-numeros-top{
    border-right: 1px solid $negro;
    }
.conc-numeros{
    border-right: 1px solid $negro;
    border-top: 1px solid $negro;
}
.conc-numeros-bottom{
    border-right: 1px solid $negro;
    border-top: 1px solid $negro;
}

.conc-parrafo{
    border-top: 1px solid $negro;
}
.conc-parrafo-bottom{
    border-top: 1px solid $negro;
}



/* otros concurcimientos */
.gridsReconocimientos{
    margin: 4vw 0vw 0vw 5vw;
    display: grid;
    grid-template-columns: 30vw 30vw 30vw;
}

.gridsReconocimientos div{
    width: 26vw;
    height: 10vw;
    margin-right: 10vw;
}

.container-reconocimiento {
    position: relative;
    width: 100%;
    margin-bottom: 3vw ;

}

.gridsReconocimientos div p{
    color: $negro ;
    font-weight: 200;

}

.reconocimientosTitulo{
    font-weight: 900;
    color: $negro;
}






/* CONCURSOS */


@media screen and (max-width:576px){

    .historia-cont{
        flex-wrap: wrap;
    }

    .historia-img{
        width: 100%;
    }

    .historia{
        font-weight: 500;
        font-size: 1rem;
        width: 100%;
        padding: 3vw 6vw 0vw 6vw;
    }



    /* PARTICIPACION EN CONCURSOS Y SIMPOSIOS */
    .concursos-container{
        width: 90%;
        margin-left: 3vw;
    }
    .grids3{
        display: grid;
        grid-template-columns: 15vw 70vw;
    }



     /* Otros reconocimientos */
    .gridsReconocimientos{
        margin: 5vw 0vw 0vw 10vw;
        display: grid;
        grid-template-columns: 1vw;
        grid-template-rows: 38vw 38vw 38vw 38vw 38vw 38vw 38vw 38vw 38vw 38vw 38vw 38vw 38vw 38vw 38vw 38vw 38vw 38vw 38vw 38vw 38vw 38vw 38vw 38vw 38vw 38vw 38vw 38vw ;
    }
    .gridsReconocimientos div{
        width: 80vw;
        height: 10vw;
    }

    .container-reconocimiento {
        margin-bottom: 10vw ;
    }
}