$negro: black;
$blanco: white;
$color1: #7196B9;


/* REPRESENTANTE */
.historia-cont{
    flex-wrap: nowrap;
}

.historia-img{
    margin-bottom: 5vw;
    background-color: $color1;
}

.historia{
    font-weight: 500;
    font-size: 1.2vw;
    width: 100%;
    padding: 3vw 6vw 0vw 6vw;
    margin: 0;
}





/* PARTICIPACION EN CONCURSOS Y SIMPOSIOS */
.concursos-container{
    margin-top: 5vw;
    width: 90%;
}

.grids3{
    display: grid;
    grid-template-columns: 6vw 30vw;
    padding: 0;
    margin-right: 7vw;
}

.grids3 h3{
    text-align: center;
    padding-top: 1vw;
}

.grids3 p{
    padding: 1vw 0 0 1vw;
}

.conc-numeros-top{
    border-right: 1px solid $negro;
    }
.conc-numeros{
    border-right: 1px solid $negro;
    border-top: 1px solid $negro;
}
.conc-numeros-bottom{
    border-right: 1px solid $negro;
    border-top: 1px solid $negro;
}

.conc-parrafo{
    border-top: 1px solid $negro;
}
.conc-parrafo-bottom{
    border-top: 1px solid $negro;
}



/* otros concurcimientos */
.gridsReconocimientos{
    margin: 4vw 0vw 0vw 5vw;
    display: grid;
    grid-template-columns: 30vw 30vw 30vw;
}

.gridsReconocimientos div{
    width: 26vw;
    height: 10vw;
    margin-right: 10vw;
}

.container-reconocimiento {
    position: relative;
    width: 100%;
    margin-bottom: 3vw ;

}

.gridsReconocimientos div p{
    color: $negro ;
    font-weight: 200;

}

.reconocimientosTitulo{
    font-weight: 900;
    color: $negro;
}






/* PARTICIPÓ COMO JURADO DE SELECCIÓN EN */

.gridsJurado{
    margin: 4vw 5vw 0vw 5vw;
    display: grid;
    grid-template-columns: 26vw 26vw 26vw;

    background-color: $color1;
    border-radius: 1vw;
    padding: 1vw 0 3vw 2vw;
}

.jurado-participacion{
    margin: 4vw 2vw 0 3vw; 
    width: 22vw;
}

.gridsJurado div{
    width: 26vw;
    height: 18vw;
    margin: 2vw 2vw 0 2vw;
}

.container-jurado {
    position: relative;
    width: 100%;
    padding: 1vw;
    border-top: 1px solid $blanco;
    border-left: 1px solid $blanco;
}

.gridsJurado div p{
    color: $negro ;
    font-weight: 200;
    padding: 0;
}

.juradoTitulo{
    font-weight: 900;
    color: $negro;
}


@media screen and (max-width:576px){

    .historia-cont{
        flex-wrap: wrap;
    }

    .historia-img{
        width: 100%;
    }

    .historia{
        font-weight: 500;
        font-size: 1rem;
        width: 100%;
        padding: 3vw 6vw 0vw 6vw;
    }



    /* PARTICIPACION EN CONCURSOS Y SIMPOSIOS */
    .concursos-container{
        width: 90%;
        margin-left: 3vw;
    }
    .grids3{
        display: grid;
        grid-template-columns: 15vw 70vw;
    }




    /* PARTICIOPACION COMO JURADO DE SELECIIÓN */
    .gridsJurado{
        margin: 4vw 5vw 0vw 5vw;
        grid-template-columns: 80vw;
        grid-template-rows: 18vw 26vw 26vw 48vw 40vw 26vw 52vw;
        padding: 1vw 0 3vw 2vw;
    }
    .jurado-participacion{
        margin: 4vw 2vw 0 3vw; 
        width: 80vw;
    }
    .gridsJurado div{
        width: 80vw;
        height: 88%;
        margin: 4vw 0vw 0 2vw;
    }
    .gridsJurado div p{
        padding: 0 0 0 2vw;
    }
    
    .juradoTitulo{
    padding: 2vw 0 0 2vw;
    }
    .noMobile{
        display: none;
    }



     /* Otros reconocimientos */
    .gridsReconocimientos{
        margin: 5vw 0vw 0vw 10vw;
        display: grid;
        grid-template-columns: 1vw;
        grid-template-rows: 38vw 38vw 38vw 38vw 38vw 38vw 38vw 38vw 38vw 38vw 38vw 38vw 38vw 38vw 38vw 38vw 38vw 38vw 38vw 38vw 38vw 38vw 38vw 38vw 38vw 38vw 38vw 38vw ;
    }
    .gridsReconocimientos div{
        width: 80vw;
        height: 10vw;
    }

    .container-reconocimiento {
        margin-bottom: 10vw ;
    }
}